{% include 'sitio/cabecera.html' %}
<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">¡Conocenos!</h1>
    </div>
</div>
</div>

        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="https://cdn7.kiwilimon.com/menu/2031/480x480/2031.jpg.jpg">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="https://img.restaurantguru.com/r05b-interior-Birrieria-La-Tapatia.jpg" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="https://img.restaurantguru.com/r1aa-LONCHERIA-EL-TIO-burger-2021-09.jpg">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="https://img.restaurantguru.com/rf3f-Loncheria-Maria-Elena-meals-2022-12.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="section-title ff-secondary text-start fw-normal" style="font-weight: bold; color: black;">NOSOTROS</h5>
                        <h1 class="mb-4">Bienvenido a <i class="fa fa-utensils text-primary me-2"></i>Lonchería Mary</h1>
                        <p class="mb-4">Somos una cocina local, en la cual nuestros cocineros son expertos en una gran variedad de recetas típicas y nuestra oferta gastronómica está inspirada en la cultura, la historia y la tradición.</p>
                        <p class="mb-4">Nuestro personal es experto en la rica cultura gastronómica de México, por lo que pueden ofrecerte una variedad de platos deliciosos y de gran calidad. Además, buscamos siempre la satisfacción de nuestros clientes cuando comen en nuestra lonchería, y por eso nuestros trabajadores están preparados para ofrecer la mejor atención al cliente.</p>
                        <div class="row g-4 mb-4">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-danger px-3">
                                    <h1 class="flex-shrink-0 display-5 text-danger mb-0" data-toggle="counter-up">4</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">años de</p>
                                        <h6 class="text-uppercase mb-0">Experiencia nos respaldan</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-danger px-3">
                                    <h1 class="flex-shrink-0 display-5 text-danger mb-0" data-toggle="counter-up">10</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">cocineros</p>
                                        <h6 class="text-uppercase mb-0">Expertos</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-warning py-3 px-5 mt-2" href="">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Team Start -->
        <div class="container-xxl pt-5 pb-3">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center fw-normal" style="font-weight: bold; color: black;">PERSONAL</h5>
                    <h1 class="mb-5">Nuestros cocineros calificados</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="https://static.cordonbleu.edu/Files/MediaFile/79299.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Francisco Cuevas</h5>
                            <small>Cocinero</small>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="https://static.cordonbleu.edu/Files/MediaFile/79298.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Luis Tun</h5>
                            <small>Chef</small>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="https://static.cordonbleu.edu/Files/MediaFile/79293.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Axel Wits</h5>
                            <small>Cocinero</small>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="https://gazzettahedone.mx/wp-content/uploads/2019/12/Las-Master-Chefs-de-Le-Cordon-Bleu-en-Me%CC%81xico8.png" alt="">
                            </div>
                            <h5 class="mb-0">Alejandro Torres</h5>
                            <small>Chef</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
{% include 'sitio/pie.html' %}