{% include 'sitio/cabecera.html' %}
<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Servicios</h1>
    </div>
</div>
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-black fw-normal">NUESTROS SERVICIOS</h5>
                    <h1 class="mb-5">Explora nuestros servicios</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" style="background-color: rgb(246, 246, 0);">
                        <div class="bi bi-car-front rounded pt-3" style="font-size: 36px; color: black;">
                            <div class="p-4">
                                <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                                <h5>Servicio a domicilio</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" style="background-color: rgb(104, 190, 248);">
                        <div class="bi bi-credit-card rounded pt-3" style="font-size: 36px; color: black;">
                            <div class="p-4">
                                <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                                <h5>Transferencias</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" style="background-color: rgb(123, 248, 104);">
                        <div class="bi bi-telephone-outbound-fill rounded pt-3" style="font-size: 36px; color: black;">
                            <div class="p-4">
                                <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                                <h5>Pedidos</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" style="background-color: rgb(248, 140, 104);">
                        <div class="bi bi-qr-code rounded pt-3" style="font-size: 36px; color: black;">
                            <div class="p-4">
                                <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                                <h5>QR del Wi-Fi</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% include 'sitio/pie.html' %}